# OS
.DS_Store
*.log

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React Native
.expo/
dist/
coverage/

# Android/iOS
android/.gradle
android/local.properties
android/.idea/
ios/build/
ios/Pods/
ios/*.xcworkspace

# Env
.env
.env.local
.env.production